body {
    overflow: hidden;
    background-color: #000000;
}

#overlay1 {
    background-image: url("/img/background.png");
    background-position: 50% 50%;
    background-color: #000000;
    height: 100%;
    width: 100%;
}

#overlay2 {
    background-color: #000000;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    display: block;
}

